{% extends "layout.html" %}

{% block menu_item %}empleados{% endblock menu_item %}

{% block page_title %}Empleados{% endblock page_title %}

{% block content %}
    <div class="flex flex-row">
        <h1 class="w-1/1 title">Lista de Fichajes de {{ fichajes.first.empleado }}</h1>
        <a href="/empleados/" class="btn">Volver</a>
    </div>
    <table>
        <thead>
            <tr>
                <th class="w-1/5">Entrada</th>
                <th class="w-1/5">Salida</th>
                <th class="w-1/5">Total</th>
                <th>Notas</th>
            </tr>
        </thead>
        <tbody>

            {% for fichaje in fichajes %}
                <tr>
                    <td>
                        {{ fichaje.in_datetime|date:"d-M-y H:i" }}
                    </td>
                    <td class="text-center">
                        {{ fichaje.out_datetime|date:"d-M-y H:i" }}
                    </td>
                    <td class="text-center">
                        {{ fichaje.total }}
                    </td>
                    <td>
                        {{ fichaje.notes }}
                    </td>
                </tr>
            {% endfor %}

        </tbody>

    </table>
{% endblock content %}